---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: "[如何:]发布和分析测试结果？ | Microsoft Docs"
author: rick-anderson
description: "Visual Studio Team System 使你可以在项目的代码质量的图表会发生更改，随着项目。 此视频将说明了如何 publ...."
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 3f9d94e2fbbb53679b5af1d2f2a4abe1866f9e58
ms.sourcegitcommit: 9a9483aceb34591c97451997036a9120c3fe2baf
ms.translationtype: MT
ms.contentlocale: zh-CN
ms.lasthandoff: 11/10/2017
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[如何:]发布和分析测试结果？
====================
通过[Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System 使你可以在项目的代码质量的图表会发生更改，随着项目。 此视频将说明了如何将测试结果发布到 Team Foundation Server 项目数据库并将结果与生成号相关联。 我们可以看到发布的结果后我们可以使用报表管理器在我们生成的测试结果中查看的图形表示形式的更改。

[&#9654;观看视频 （7 分钟）](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

>[!div class="step-by-step"]
[上一页](how-do-i-use-generic-tests.md)
[下一页](how-do-i-discover-application-changes-prior-to-deployment.md)
